/* 
=================
Color palette: https://coolors.co/283d3b-197278-edddd4-c44536-772e25
=================
*/

/* 
=================
Fonts: Roboto 400 & Roboto Slab 700
================= 
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap");

/* 
=================
Varibles
================= 
*/
:root {
  /* dark shades of primary color */
  --clr-primary-1: #772e25;
  --clr-primary-2: #923a2e;
  --clr-primary-3: #af4436;
  /* primary/main color */
  --clr-primary: #c44536;
  /* light shades of primary color */
  --clr-primary-5: #d35142;
  --clr-primary-6: #b4735b;
  --clr-primary-7: #d1a388;
  --clr-primary-8: #dbbfae;
  --clr-primary-9: #edddd4;
  /* dark grey for headings */
  --clr-dark-grey-1: #283d3b;
  --clr-dark-grey-2: #197278;
  --clr-dark-grey-2: #388085;
  /* grey for paragraphs */
  --clr-grey-1: #388085;
  --clr-grey-2: #54868a;
  --clr-grey-3: #596f70;
  --clr-grey-4: #b3cacc;
  --clr-grey-5: #ddeef0;
  /* white color */
  --clr-white: #fff;
  /* fonts */
  --fnt-paragraph: "Roboto", sans-serif;
  --fnt-heading: "Roboto Slab", serif;
  /* other */
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius-max: 0.5rem;
  --radius-min: 0.25rem;
  --shadow-light: rgba(0, 0, 0, 0.2);
  --shadow-dark: rgba(0, 0, 0, 0.1);
  --max-width: 1170px;
}

/* 
=================
Global Styles
================= 
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fnt-paragraph);
  background: var(--clr-white);
  color: var(--clr-grey-3);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fnt-heading);
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

img:not(.navbar__logo) {
  display: block;
  width: 100%;
}

p {
  margin-bottom: 1.24rem;
  /* color: var(--clr-grey-3); */
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-top: 2rem;
  width: 20rem;
}

.social-icons a {
  font-size: 1.5rem;
  color: var(--clr-dark-grey-1);
  transition: var(--transition);
}

.social-icons a:hover {
  color: var(--clr-primary);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
}

/* @media screen and (min-width: 1920px) {
  h1 {
    font-size: 4.25rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2rem;
  }
} */

/* Global classes */
.btn {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  background: var(--clr-primary);
  color: var(--clr-white);
  text-transform: uppercase;
  border: 2px solid transparent;
  letter-spacing: var(--spacing);
  border-radius: var(--radius-min);
  box-shadow: 0 2px 5px var(--shadow-light);
  cursor: pointer;
  transition: var(--transition);
  font-weight: 700;
  font-size: 0.875rem;
}

.btn:hover {
  background: var(--clr-primary-5);
  box-shadow: none;
}

.--section {
  padding: 5rem 0;
}

.--section-centered {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .--section-centered {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary);
  margin-left: auto;
  margin-right: auto;
}

img.portrait-photo {
  width: 25rem;
  height: 30rem;
  max-width: 90vw;
  /* margin: 0 auto; */
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--radius-max);
  position: relative;
}

.bg-grey {
  background: var(--clr-grey-5);
}

/* 
=================
Navbar
================= 
*/

.navbar__links {
  display: none;
}

.navbar {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--transition);
}

.navbar__container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
}

.navbar__header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.navbar__logo {
  height: 2.5rem;
}

.navbar__btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary);
  font-size: 2rem;
  justify-self: end;
  cursor: pointer;
}

.scroll {
  height: 200vh;
}

@media screen and (min-width: 768px) {
  .navbar {
    background: var(--clr-primary-9);
  }

  .navbar__btn {
    display: none;
  }

  .navbar__links {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-column-gap: 2rem; */
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-self: end;
  }

  .navbar__links a {
    margin-left: 4rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--clr-grey-3);
    transition: var(--transition);
    letter-spacing: var(--spacing);
    font-weight: bold;
    font-family: var(--fnt-heading);
  }

  .navbar__links a:hover {
    color: var(--clr-primary);
  }

  .navbar__container {
    grid-template-columns: auto 1fr;
  }
}

.--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  z-index: 2;
  box-shadow: 0 3px 10px var(--shadow-light);
}

/* 
=================
Sidebar
================= 
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-5);
  z-index: 4;
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateX(-100%);
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar__links {
  text-align: center;
}

.sidebar__links a {
  font-size: 1.75rem;
  font-family: var(--fnt-heading);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-3);
  transition: var(--transition);
  display: inline-block;
  margin-bottom: 1.25rem;
}

.sidebar__links a:hover {
  color: var(--clr-primary);
}

.sidebar__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
}

.sidebar__close-btn:hover {
  color: var(--clr-primary-2);
}

/* 
=================
Hero
================= 
*/
.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.hero__img {
  display: none;
}

.hero {
  background: var(--clr-primary-9);
}

.hero__container {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}

.hero__info h1 {
  color: var(--clr-dark-grey-1);
}

.hero__icons {
  justify-items: start;
}

.hero__btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .hero__img {
    display: block;
    position: relative;
  }

  .hero__img::before,
  .about__img::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--clr-primary);
    border-radius: var(--radius-max);
    /* z-index: 0; */
  }

  .hero__container {
    grid-template-columns: 1fr 1fr;
  }
}
/* 
=================
About
================= 
*/

.about__title {
  text-align: left;
  margin-bottom: 2rem;
}

.about__title .underline {
  margin-left: 0;
}

.about__container {
  display: grid;
  gap: 3rem 2rem;
}

.about__img {
  justify-self: center;
}

@media screen and (min-width: 992px) {
  .about__container {
    grid-template-columns: 1fr 1fr;
  }

  .about__img {
    position: relative;
  }

  .about__img::before {
    left: -2rem;
  }

  .about__info {
    align-self: center;
  }
}

/* 
=================
Services
================= 
*/
.services__item {
  background: var(--clr-white);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: var(--radius-max);
  transition: var(--transition);
}

.services__icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.services__item .underline {
  width: 3rem;
  height: 0.12rem;
  transition: var(--transition);
}

.services__item:hover {
  background: var(--clr-primary);
  color: var(--clr-white);
}

.services__item:hover .underline {
  background: var(--clr-white);
}

@media screen and (min-width: 676px) {
  .services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .services__container {
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

/* 
=================
Projects
================= 
*/
.projects__text {
  width: 85vw;
  max-width: 30rem;
  margin: 0 auto;
}

.projects__item {
  position: relative;
  background: var(--clr-primary);
  margin-bottom: 2rem;
  border-radius: var(--radius-max);
  transition: var(--transition);
}

.projects__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: transparent;
  transition: var(--transition);
}

.projects__info p {
  text-transform: capitalize;
}

.projects__img {
  border-radius: var(--radius-max);
  -o-object-fit: cover;
  object-fit: cover;
  transition: var(--transition);
  height: 15rem;
}

.projects__item:hover .projects__img {
  opacity: 0.2;
}

.projects__item:hover .projects__info {
  color: var(--clr-white);
}

.projects__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-white);
  border-radius: var(--radius-max);
  transition: var(--transition);
  opacity: 0;
}

.projects__item:hover::after {
  opacity: 1;
  transform: scale(0.8);
}

@media screen and (min-width: 676px) {
  .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .projects__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1170px) {
  .projects__container {
    grid-template-rows: 12.5rem 12.5rem;
    grid-template-areas:
      "a b b"
      "a c d";
    row-gap: 2rem;
  }

  .projects__img,
  .projects__item {
    height: 100%;
  }

  .projects__item-1 {
    grid-area: a;
  }

  .projects__item-2 {
    grid-area: b;
  }

  .projects__item-3 {
    grid-area: c;
  }

  .projects__item-4 {
    grid-area: d;
  }
}

/* 
=================
Contact
================= 
*/

.contact {
  min-height: 40vh;
  position: relative;
  padding: 5rem 0;
  margin: 5rem 0;
  display: grid;
  place-items: center;
}

.contact__video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
}

.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  opacity: 0.7;
  z-index: -1;
}

.contact__banner .section-title {
  margin-bottom: 2rem;
}

.contact__text {
  max-width: 30rem;
}

.contact__banner {
  background: var(--clr-primary-9);
  padding: 3rem;
  text-align: center;
  max-width: 95vw;
}

@media screen and (min-width: 676px) {
  .contact {
    padding: 10rem 0 5rem 0;
  }

  .contact__banner {
    padding: 3rem 5rem 12rem 5rem;
    -webkit-clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      75% 75%,
      75% 100%,
      50% 75%,
      0% 75%
    );
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      75% 75%,
      75% 100%,
      50% 75%,
      0% 75%
    );
  }
}

@media screen and (min-width: 992px) {
  .contact {
    -webkit-clip-path: polygon(
      50% 0,
      100% 10%,
      100% 90%,
      50% 100%,
      0 90%,
      0 10%
    );
    clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
  }
}

/* 
=================
Skills
================= 
*/
@media screen and (min-width: 768px) {
  .skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

.skills {
  background: var(--clr-primary-8);
}

.skills h3 {
  margin: 1.5rem 0;
  color: var(--clr-primary-1);
}

.skills__item {
  margin-bottom: 1.25rem;
}

.skills__item p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--clr-primary-1);
}

.skills__bar-container {
  background: var(--clr-white);
  height: 1rem;
  border-radius: var(--radius-max);
  width: 100%;
  position: relative;
}

.skills__bar-value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--clr-primary);
  border-radius: var(--radius-max);
}

.value-50 {
  width: 50%;
}

.value-70 {
  width: 70%;
}

.value-80 {
  width: 80%;
}

.skills__text {
  position: absolute;
  transform: translateX(-50%);
  top: -1.75rem;
}

@media screen and (min-width: 768px) {
  .skills__text {
    top: -2rem;
  }
}

.text-50 {
  left: 50%;
}

.text-70 {
  left: 70%;
}

.text-80 {
  left: 80%;
}

/* 
=================
Timeline
================= 
*/
.timeline__container {
  width: 80vw;
  max-width: 40rem;
}

/* @media screen and (min-width: 992px) {
  .timeline__container {
    ;
  }

} */
.timeline__container {
  width: 80vw;
  max-width: 40rem;
}

.timeline__item {
  margin: 0;
  padding: 4rem 2rem;
  position: relative;
  border-radius: 2rem;
  margin-bottom: -4px;
}

.timeline p {
  margin-bottom: 0;
}

.timeline__item:nth-child(even) {
  border-top: 4px dashed var(--clr-primary-3);
  border-bottom: 4px dashed var(--clr-primary-3);
  border-left: 4px dashed var(--clr-primary-3);
  margin-right: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
}

.timeline__item:nth-child(odd) {
  border-top: 4px dashed var(--clr-primary-3);
  border-bottom: 4px dashed var(--clr-primary-3);
  border-right: 4px dashed var(--clr-primary-3);
  margin-left: 2rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 0;
}

.timeline__item:first-child {
  border-top: none;
  border-top-right-radius: 0;
}

.timeline__item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 0;
}

.number {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  background: var(--clr-primary-3);
  color: var(--clr-white);
  border-radius: 50%;
  position: absolute;
  font-weight: bold;
}

.timeline__item:nth-child(even) .number {
  top: 50%;
  left: 0;
  transform: translate(calc(-50% - 2px), -50%);
}

.timeline__item:nth-child(odd) .number {
  top: 50%;
  right: 0;
  transform: translate(calc(50% + 2px), -50%);
}

/* 
=================
Blog
================= 
*/
.blog__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  gap: 3rem 1rem;
}

.blog__card {
  position: relative;
  height: 30rem;
  perspective: 1500px;
}

.blog__card-side {
  transition: all 1s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-max);
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
}

.blog__card-front {
  background: var(--clr-white);
}

.blog__card-back {
  background: var(--clr-primary-7);
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
}

.blog__card:hover .blog__card-front {
  transform: rotateY(-180deg);
}

.blog__card:hover .blog__card-back {
  transform: rotateY(0deg);
}

.blog__card img {
  height: 13rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: var(--radius-max);
  border-top-right-radius: var(--radius-max);
}

.blog__card-footer img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.blog__card-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.blog__card-footer p {
  justify-self: end;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--clr-primary);
  font-size: 0.85rem;
}

.blog__card-info {
  padding: 1rem 1.5rem;
  height: calc(100% - 13rem);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* 
=================
Footer
================= 
*/
.footer {
  background: #222;
  padding: 1rem 0 3rem 0;
  display: grid;
  place-items: center;
}

.footer .social-icons {
  margin-bottom: 2rem;
}

.footer .social-icons i {
  color: var(--clr-dark-grey-2);
  transition: var(--transition);
}

.footer .social-icons i:hover {
  color: var(--clr-grey-4);
}

.footer p {
  font-size: 1.25rem;
}

/* 
=================
About Page
================= 
*/
.about-page {
  background: var(--clr-primary-9);
  min-height: calc(100vh - 5rem - 214px);
}

.about-page__info {
  max-width: 60rem;
}

/* 
=================
Contacts Page
================= 
*/
.contacts-page {
  background: var(--clr-primary-9);
  min-height: calc(100vh - 5rem - 214px);
}

.contacts-page__info a {
  color: var(--clr-primary);
  transition: var(--transition);
}

.contacts-page__info a:hover {
  color: var(--clr-dark-grey-2);
}

.contacts-page__info {
  max-width: 60rem;
}

/* 
=================
Projects Page
================= 
*/
.projects-page__hero {
  background: var(--clr-primary-9);
  height: 30vh;
  display: grid;
  place-items: center;
}

.projects-page__hero .section-title {
  margin-bottom: 0;
}

.projects-page__project {
  background: var(--clr-grey-5);
  border-radius: var(--radius-max);
  box-shadow: 0 0 10px var(--shadow-light);
}

.project-page {
  min-height: calc(70vh - 5rem - 214px);
}

.projects-page__project-container {
  position: relative;
}

.projects-page__project-container img {
  border-top-left-radius: var(--radius-max);
  border-top-right-radius: var(--radius-max);
}

.projects-page__icon {
  font-size: 1.75rem;
  color: var(--clr-primary-1);
  background: var(--clr-primary-5);
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 0.375rem solid var(--clr-grey-5);
}

.projects-page__project-details {
  padding: 2rem 1.5rem;
}

.projects-page__project-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--clr-primary);
  align-items: center;
}

.projects-page__project-footer a {
  color: var(--clr-primary);
  justify-self: end;
  text-transform: capitalize;
  transition: var(--transition);
}

.projects-page__project-footer a:hover {
  color: var(--clr-dark-grey-2);
}

.projects-page__project-footer span {
  font-size: 1.75rem;
}

.projects-page__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
}
